In [12]:
import os
import glob
import numpy as np
import pandas as pd
from nltools.data import Brain_Data
import nibabel as nib

In [2]:
data_dir = '/mnt/chrastil/lab/users/lily/path_direction/localizer_beta_series_all_run_exploration'

In [31]:
sub_list = glob.glob(os.path.join(data_dir, 'sub*'))

In [57]:
print(sub_list)

['/mnt/chrastil/lab/users/lily/path_direction/localizer_beta_series_all_run_exploration/sub-002', '/mnt/chrastil/lab/users/lily/path_direction/localizer_beta_series_all_run_exploration/sub-003', '/mnt/chrastil/lab/users/lily/path_direction/localizer_beta_series_all_run_exploration/sub-005', '/mnt/chrastil/lab/users/lily/path_direction/localizer_beta_series_all_run_exploration/sub-014', '/mnt/chrastil/lab/users/lily/path_direction/localizer_beta_series_all_run_exploration/sub-018', '/mnt/chrastil/lab/users/lily/path_direction/localizer_beta_series_all_run_exploration/sub-019', '/mnt/chrastil/lab/users/lily/path_direction/localizer_beta_series_all_run_exploration/sub-020', '/mnt/chrastil/lab/users/lily/path_direction/localizer_beta_series_all_run_exploration/sub-021', '/mnt/chrastil/lab/users/lily/path_direction/localizer_beta_series_all_run_exploration/sub-017', '/mnt/chrastil/lab/users/lily/path_direction/localizer_beta_series_all_run_exploration/sub-033', '/mnt/chrastil/lab/users/lily/path_direction/localizer_beta_series_all_run_exploration/sub-024', '/mnt/chrastil/lab/users/lily/path_direction/localizer_beta_series_all_run_exploration/sub-025', '/mnt/chrastil/lab/users/lily/path_direction/localizer_beta_series_all_run_exploration/sub-027', '/mnt/chrastil/lab/users/lily/path_direction/localizer_beta_series_all_run_exploration/sub-032', '/mnt/chrastil/lab/users/lily/path_direction/localizer_beta_series_all_run_exploration/sub-029', '/mnt/chrastil/lab/users/lily/path_direction/localizer_beta_series_all_run_exploration/sub-037', '/mnt/chrastil/lab/users/lily/path_direction/localizer_beta_series_all_run_exploration/sub-038', '/mnt/chrastil/lab/users/lily/path_direction/localizer_beta_series_all_run_exploration/sub-036', '/mnt/chrastil/lab/users/lily/path_direction/localizer_beta_series_all_run_exploration/sub-039', '/mnt/chrastil/lab/users/lily/path_direction/localizer_beta_series_all_run_exploration/sub-041', '/mnt/chrastil/lab/users/lily/path_direction/localizer_beta_series_all_run_exploration/sub-043']

In [62]:
colnames = ['sub', 'exp', 'exp2', 'test1', 'test2', 'test3', 'test4', 'test5', 'test6']
scan_time = pd.DataFrame(np.zeros((len(sub_list), len(colnames))), columns = colnames)
counter = 0
for i in sub_list:
    sub = str.split(i, '/')[-1]
    
    input_subnum = str.split(sub,'-')[-1]
    scan_time.iloc[counter]['sub'] = int(input_subnum) # store subject number
    
    exp_name = glob.glob(os.path.join(data_dir, sub, 'func', '*boldEx_*.nii.gz'))
    exp = ''.join([str(nib.load(file).shape[3]) for file in exp_name])
    scan_time.iloc[counter]['exp'] = exp # store exploration 1
    
    exp2_name = glob.glob(os.path.join(data_dir, sub, 'func', '*boldEx2_*.nii.gz'))
    exp2 = ''.join([str(nib.load(file).shape[3]) for file in exp2_name])
    scan_time.iloc[counter]['exp2'] = exp2 # store exploration 2
    
    test1_name = glob.glob(os.path.join(data_dir, sub, 'func', '*boldRun1_*.nii.gz'))
    test1 = ''.join([str(nib.load(file).shape[3]) for file in test1_name])
    scan_time.iloc[counter]['test1'] = test1 # store test1
    
    test2_name = glob.glob(os.path.join(data_dir, sub, 'func', '*boldRun2_*.nii.gz'))
    test2 = ''.join([str(nib.load(file).shape[3]) for file in test2_name])
    scan_time.iloc[counter]['test2'] = test2 # store test2
    
    test3_name = glob.glob(os.path.join(data_dir, sub, 'func', '*boldRun3_*.nii.gz'))
    test3 = ''.join([str(nib.load(file).shape[3]) for file in test3_name])
    scan_time.iloc[counter]['test3'] = test3 # store test3
    
    test4_name = glob.glob(os.path.join(data_dir, sub, 'func', '*boldRun4_*.nii.gz'))
    test4 = ''.join([str(nib.load(file).shape[3]) for file in test4_name])
    scan_time.iloc[counter]['test4'] = test4 # store test4
    
    test5_name = glob.glob(os.path.join(data_dir, sub, 'func', '*boldRun5_*.nii.gz'))
    test5 = ''.join([str(nib.load(file).shape[3]) for file in test5_name])
    scan_time.iloc[counter]['test5'] = test5 # store test5
    
    test6_name = glob.glob(os.path.join(data_dir, sub, 'func', '*boldRun6_*.nii.gz'))
    test6 = ''.join([str(nib.load(file).shape[3]) for file in test6_name])
    scan_time.iloc[counter]['test6'] = test6 # store test6
    
    
    counter += 1
    
# save data file
str_name = data_dir + '/scan_time.csv'
scan_time.to_csv(str_name, index=False)

In [63]:
scan_time

     sub    exp   exp2  test1  test2  test3  test4  test5  test6
0    2.0  674.0  674.0  486.0  466.0  449.0  491.0  435.0  450.0
1    3.0    0.0    0.0  489.0  428.0  414.0  491.0  427.0  499.0
2    5.0  672.0  674.0  584.0  563.0  519.0  440.0  443.0  519.0
3   14.0  674.0  674.0  543.0  514.0  528.0  469.0  531.0  592.0
4   18.0  674.0  674.0  544.0  493.0  556.0  587.0  467.0  488.0
5   19.0  674.0  674.0  546.0  430.0  447.0  550.0  479.0  459.0
6   20.0  674.0  674.0  584.0  561.0  557.0  516.0  499.0  493.0
7   21.0  674.0  674.0  603.0  516.0  465.0  573.0  569.0  453.0
8   17.0  674.0  674.0  476.0  425.0  420.0  464.0  446.0  446.0
9   33.0  674.0  674.0  491.0  435.0  422.0  477.0  414.0  495.0
10  24.0  674.0  674.0  504.0  508.0  545.0  524.0  478.0  442.0
11  25.0  674.0  674.0  482.0  484.0  517.0  464.0  505.0  401.0
12  27.0  674.0  674.0  548.0  490.0  503.0  565.0  512.0  549.0
13  32.0  674.0  674.0  553.0  539.0  532.0  571.0  520.0  552.0
14  29.0  674.0  674.0  510.0  624.0  532.0  539.0  480.0  509.0
15  37.0  674.0  674.0  534.0  579.0  538.0  595.0  572.0  508.0
16  38.0  674.0  674.0  495.0  508.0  559.0  530.0  464.0  509.0
17  36.0  674.0  674.0  599.0  506.0  553.0  459.0  507.0  531.0
18  39.0  674.0  674.0  649.0  542.0  510.0  565.0  523.0  584.0
19  41.0  674.0  674.0  597.0  519.0  600.0  583.0  518.0  503.0
20  43.0  674.0  674.0  578.0  471.0  499.0  481.0  494.0  473.0